.App {
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: darkblue;
  color: white;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 40px;
}

.nav-buttons {
  display: flex;
}

.nav-button {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: white;
  color: darkblue;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 2px solid darkblue;
  width: 320px;
  text-align: center;
  border-radius: 10px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.popup h2 {
  margin: 5px;
}

.popup form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
}

.popup-button {
  width: 48%; 
  background-color: darkblue;
  color: white;
  border: none;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.popup-button:hover {
  background-color: navy;
}




