.App {
  text-align: center;

}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: darkblue;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 10px 20px;

}

.logo {
  height: 40px;
}

.nav-button {
  display: flex;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: white;
  color: darkblue;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 2px solid darkblue;
  width: 420px;
  height: 200px;
  text-align: center;
  border-radius: 10px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.popup h2 {
  margin: 5px;
}

.popup form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup input {
  width: 100%;
  padding: 5px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.popup-buttons {
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
}

.page-container {
    padding: 40px 20px; 
    text-align: center;
}



