.contact-container {
  text-align: left;
  margin: 40px auto;
  padding: 20px;
  font-family: Arial, sans-serif;

}

.contact-title {
  font-size: 34px;
  font-weight: bold;
  margin-top: 10px;
}

p {
  font-size: 26px;
  line-height: 1.6;
}

.image-container img {
  width: 12cm;  
  height: 12cx;
  padding: 1cm;
  padding-right: 2cm;

}

.event-card {
  display: flex; 
  margin-top: 1cm;
  padding: 20px;
}
